<div class="login-container mat-elevation-z2">
  <h2>Login</h2>
  <form>
    <mat-form-field class="form-group">
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" name="username" placeholder="Enter your username" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" placeholder="Enter your password" required>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="login()">Login</button>
  </form>
</div>
