/* .mat-toolbar {
   background: rgba(60, 63, 65, 0.568);
  color: #071418;
  height: 80px;
} */
.page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
}
.logo-container {
  display: block;
  height: 85px;
  background-color: whitesmoke;
}
.logo {
  height: 65px;
  width: auto;
  padding: 10px;
}

.instruction-login-container,
.image-login-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.image-container {
  flex: 3 1 70%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  /* width: 100%; */
  /* max-width: 70%; */
}

.instruction-image-container {
  flex: 2; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  /* width: 100%; */
  /* max-width: 70%; */
}

.cover-image {
  /* display: flex; */
  /* flex: 1; */
  max-width: 95%;
  min-width: 95%;
  min-height: 500px;
  max-height: 500px;
  padding: 0px 10px;
  align-content: center;
  justify-content: space-between;
}

.login-container {
  /* width: 100%;
  max-width: 20%; */
  max-width: 25%;
  min-width: 25%;
  margin: 10px 20px;
  flex: 1; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  align-content: left;
  justify-content: space-between;
}

.steps-container {
  max-width: 50%;
  min-width: 50%;
  margin: 10px;
  flex: 2; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  align-content: left;
  justify-content: space-between;
}

.instruction-image {
  max-width: 100%;
  min-width: 100%;
  align-content: center;
  justify-content: space-between;
}
.instruction-login-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
}
@media screen and (max-width: 600px) {
  /* Responsive styles for screens less than or equal to 600px wide */
  .image-login-container, .instruction-login-container, .page-container {
    flex-direction: column;
  }

  .login-container,
  .instruction-container {
    width: 100%;
    max-width: none;
  }
  .steps-container {
    padding-top: 20px;
    flex: 1; 
    max-width: 100%;
  min-width: 100%;
  font-size: 14px;
  }
  .instruction-image-container,
  .steps-container {
    padding: 0;
  }
  .login-container {
    flex: 1 ; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  }
  ul {
    margin-left: -20px;
  }
}

@media screen and (max-width: 750px) {

  .image-login-container, .instruction-login-container, .page-container {
    flex-direction: column;
  }

  .login-container,
  .instruction-container {
    width: 100%;
    max-width: none;
  }
  .steps-container {
    padding-top: 20px;
    flex: 1; 
    max-width: 100%;
    min-width: 100%;
    font-size: 14px;
    margin-left: 0;
  }
  ul {
    margin-left: -20px;
  }
  .instruction-image-container,
  .steps-container {
    padding: 0;
  }
  .login-container {
    flex: 1 ; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
  }
}





.steps-container li {
  padding: 5px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.login-btn {
  background-color: #1572d6 !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #2ca12c !important;
}

.bottom-container {
  padding: 40px 0px;
  text-align: center;
}

/* .logo-container  img{
  display: flex;
  align-items: left;
  background-color: whitesmoke;
} */

/* .logo{
  height: 65px;
  width: auto;
  padding: 10px 15px;
} */

/* .page-container {
  flex: 1;
} */

/* .image-login-container{
  display: flex;
  flex: 1;
} */

/* .cover-image{
  flex: 1;
  height: 550px;
  width: 100%;
}

 .instruction-image{
    flex: 1;
    height: 250px;
    width: 700px;
  }
*/

/* .login-container {
  max-width: 250px;
  max-height: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.instruction-container{
  font-size: medium;
}  */
