<!-- Update the HTML structure -->
<div class="page-container">
  <div class="logo-container">
    <img src="../../assets/logo.png" alt="Logo" class="logo" />
  </div>

  <div class="image-login-container">
    <div class="image-container">
      <img src="../../assets/Background-login.jpg" alt="No Image" class="cover-image" />
    </div>
    <div class="login-container">
      <h2>Sign In</h2>
      <form [formGroup]="loginForm">
        <mat-form-field class="form-group">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email Address"
            formControlName="email"
            required
          />
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          (click)="login()"
          matTooltipPosition="below"
          matTooltipTrigger="hover"
          class="login-btn"
        >
          Next
        </button>
      </form>

      <div class="bottom-container">
        <p><a href="#">Forgot Password?</a></p>
        <p><span>Don't have an account? </span><a href="#"> Sign Up </a></p>
      </div>
    </div>
  </div>

  <div class="instruction-login-container">
    <div class="instruction-image-container">
      <img src="../../assets/Background-login-instruction.jpg" alt="No Image" class="instruction-image" />
    </div>

    <div class="steps-container">
      <p>Instruction:</p>
      <ul>
        <li>Application Form Fee is Non-Refundable. </li>
        <li>Keep scanned copies of your 10th, 12th or Bachelor certificates with mark-sheet.</li>
        <li>If you are waiting for results, then please upload projected scores.</li>
        <li>Do not submit false or misleading information.</li>
        <li>Scan documents in PDF format not more than 3MB.</li>
        <li>Passport size photo in JPEG format.</li>
      </ul>
    </div>
  </div>
</div>
