.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  /* ::ng-deep .mat-horizontal-stepper-header,
  ::ng-deep .mat-horizontal-stepper-content,
  ::ng-deep .mat-horizontal-stepper-label,
  ::ng-deep .mat-vertical-stepper-header,
  ::ng-deep .mat-vertical-stepper-content,
  ::ng-deep .mat-vertical-stepper-label {
    height: 40px !important;
  } */
  
  /* ::ng-deep .mat-horizontal-stepper-header,
  ::ng-deep .mat-vertical-stepper-header {
    padding: 5px !important; 
  }
   */
  /* ::ng-deep .mat-horizontal-stepper-label,
  ::ng-deep .mat-vertical-stepper-label {
    line-height: 15px !important; 
    font-size: 12px !important; 
  } */
  /* ::ng-deep .mat-horizontal-stepper-header,
  ::ng-deep .mat-vertical-stepper-header {
    font-size: 16px; 
  } */
 

.form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    /* padding: 10px; */
    /* background-color: #f0f0f0; */
  }

  .text-container {
    position: relative;
    top: -10px;
    left: 10px;
  }
  
  .right-container {
    display: flex;
    align-items: center;
  }
  
  .right-text {
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  /* .action-button {
    background-color: #1572d6; 
    color: #ffffff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  } */
  
  /* .action-button:hover {
    background-color: #2ca12c; 
  } */

  .logo-container {
    display: flex;
    flex: 1;
    height: 68px;
    padding-left: 15px;
    /* background-color: whitesmoke; */
  }
  .logo {
    height: 65px;
    width: auto;
    padding: 1px;
  }


  .spacer {
    flex: 1 1 auto;
  }

  @media screen and (max-width: 600px) {
    /* Responsive styles for screens less than or equal to 600px wide */
    .form-container {
      flex-direction: column;
    }

    ::ng-deep .mat-horizontal-stepper-header,
  ::ng-deep .mat-vertical-stepper-header {
    font-size: 14px; /* Adjust as needed for smaller screens */
  }

  ::ng-deep .mat-horizontal-stepper-header {
    padding: 8px; /* Adjust padding for better spacing on small screens */
  }

  }

  