<!-- <button mat-raised-button (click)="isOptional = !isOptional">
    {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
  </button> -->
  <div class="header-bar">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
      <div class="text-container">
        <!-- <p>Text 1</p>
        <p>Text 2</p> -->
      </div>
      <span class="spacer"></span>
    </div>
    <div class="right-container">
      <div class="right-text">
        <!-- <p>Right Text 1</p>
        <p>Right Text 2</p> -->
      </div>
      <!-- <button class="action-button" mat-raised-button color="primary">Refesh</button> -->
    </div>
  </div>
  <mat-stepper [linear]="isLinear" [orientation]="isVertical ? 'horizontal' : 'vertical'" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Personal Info</ng-template>
  
        <div class="form-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Full name" formControlName="name" required>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email Address" formControlName="email" required>
          </mat-form-field>
        </div>
  
        <div class="button-container">
          <button mat-raised-button color="primary" matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="form-container">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>Pincode</mat-label>
              <input matInput placeholder="Pincode" formControlName="pin" required>
            </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 10px;">Back</button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Completed</p>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 10px;">Back</button>
        <button mat-raised-button color="warn" (click)="stepper.reset()" style="margin-right: 10px;">Reset</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
  
  